# Task 3

First, update the following cell to have a link to your Homework 1 GitHub repository:


**UPDATE THIS LINK:**

[https://github.com/carmengg/eds-220-hwk-1]()


In this task, make at least 5 commits at moments you think are adequate. We'll look at your repo to check commit history.

Add comments for all your code. Err on the side of commenting too much for now. 

Comments in each exercise and commits will count towards your grade.

This task covers topics we will see on Monday Oct. 9. The best strategy to solve it is to get together with your classmates and work on it together after Monday's lecture.


## 1
For this task we are going to use data about  [Western Indian Ocean Coral Diversity (McClanahan, 2023)](https://knb.ecoinformatics.org/view/doi%3A10.5063%2FF1K35S3H) from the Knowledge Network for Biocomplexity (KNB) data repository. 

a. Navigate to the dataset's link and explore the data package. 
 
b. Use the next markdown cell to add a brief description of the dataset, including a citation, date of access, and a link to the archive.

The dataset focuses on predicting the current (2020) and future (2050) numbers of coral taxa in the western Indian Ocean, considering the threats posed by climate change. The predictions are based on machine learning models that utilize 35 environmental proxies, trained with data from approximately 1000 field surveys across 7039 mapped reef cells. The study explores four models, examining the impacts of climate change, water quality, direct human-resource extraction, and the process of variable selection on coral taxa numbers. Two of these models specifically compare predictions using all variables against those restricted to climate change and human influence. Data used was collected from 1999 to 2022. Accessed Oct 9, 2023.

Tim McClanahan. (2023). Western Indian Ocean Coral Diversity. Knowledge Network for Biocomplexity. doi:10.5063/F1K35S3H.

## 2
In the next code cell, import the pandas package using standard abbreviation in a code cell.

Read in the data from the URL using the `pd.read_csv` function and store it as `coral_div` like this:

```
# read in data
coral_div = pd.read_csv('the URL goes here')
```

In [4]:
# import panads package
import pandas as pd

# read in and store data
coral_div = pd.read_csv('https://knb.ecoinformatics.org/knb/d1/mn/v2/object/urn%3Auuid%3Ae7d12a5a-f1a9-4a3e-aaa5-5222f67e799d')

## 3

Use attributes and methods of the `coral_div` data frame to obtain the following information about it:

a. how many rows and columns does it have?

b. what are the column names?

c. what are the data types of the columns?

d. display the first 8 rows with all the column names. For this one, you will need to udpate a `pandas` option (see discussion section)

e. some inital info you are interested in. 

Use the code cells marked a-e. For each, add a comment explaining what is the ouput.

In [10]:
# a
# use .shape to determine number of rows and columns
# store number of rows in coral_div
coral_rows = coral_div.shape[0]

# store number of columns in coral_div
coral_cols = coral_div.shape[1]

# print results
print("Rows in coral_div:", coral_rows)
print("Columns in coral_div:", coral_cols)

Rows in coral_div: 575
Columns in coral_div: 42

In [16]:
# b 
# use .columns to find the column names
# store column names, turn into list to make output result cleaner
column_names = coral_div.columns.tolist()

# print results
print("Column names are:", column_names)

Column names are: ['PU_ID', 'PU_Lat', 'PU_Lon', 'Number_of_genera', 'Country', 'Ecoregion', 'Management', 'Habitat', 'Observer', 'Depth', 'Coralcover', 'SSTRateofRise', 'PARmax', 'Calcite', 'Dis_oxygen', 'mean.waveNRJ', 'Salinity_mean', 'andrello_reef_value', 'andrello_nutrients', 'mean.npp', 'TT_market_hrs', 'TT_pop_hrs', 'cumDHW', 'SST_Kurtosis', 'SST_Median', 'ChlorA_median', 'andrello_sediments', 'Current_vel_mean', 'Diff_attenuation', 'Grav_NP', 'Grav_NC', 'PH', 'SST_bimodality', 'SST_Skewness', 'ClimateStressModel', 'Netflow', 'Indegree', 'Outdegree', 'Retention', 'min_yr', 'max_yr', 'no_replicates']

In [18]:
# c
# find and store data types using .dtypes
column_types = coral_div.dtypes

# print results
print("Data types of the columns:", column_types)

Data types of the columns: PU_ID                    int64
PU_Lat                 float64
PU_Lon                 float64
Number_of_genera         int64
Country                 object
Ecoregion               object
Management              object
Habitat                 object
Observer                object
Depth                  float64
Coralcover               int64
SSTRateofRise          float64
PARmax                 float64
Calcite                float64
Dis_oxygen             float64
mean.waveNRJ           float64
Salinity_mean          float64
andrello_reef_value      int64
andrello_nutrients     float64
mean.npp               float64
TT_market_hrs          float64
TT_pop_hrs             float64
cumDHW                 float64
SST_Kurtosis           float64
SST_Median             float64
ChlorA_median          float64
andrello_sediments     float64
Current_vel_mean       float64
Diff_attenuation       float64
Grav_NP                float64
Grav_NC                float64
PH                     float64
SST_bimodality         float64
SST_Skewness           float64
ClimateStressModel     float64
Netflow                float64
Indegree               float64
Outdegree              float64
Retention              float64
min_yr                   int64
max_yr                   int64
no_replicates            int64
dtype: object

In [21]:
# d
# update pandas option
pd.set_option('display.max_columns', None)

# storing first 8 rows of coral_div
coral_head = coral_div.head(8)

# print results
print("First 8 rows with column names:", coral_head)

First 8 rows with column names:    PU_ID     PU_Lat    PU_Lon  Number_of_genera   Country  \
0      7  39.076711 -5.490011                35  Tanzania
1      7  39.076711 -5.490011                22  Tanzania
2      7  39.076711 -5.490011                25  Tanzania
3      7  39.076711 -5.490011                26  Tanzania
4     10  39.054253 -5.512514                27  Tanzania
5     10  39.054253 -5.512514                29  Tanzania
6     15  39.054253 -5.535017                19  Tanzania
7     39  39.009337 -5.647518                28  Tanzania

                  Ecoregion   Management           Habitat Observer  Depth  \
0  East African Coral Coast  UnfishedLow             Crest      Tim   11.0
1  East African Coral Coast  UnfishedLow  Lagoon/Back reef  Nyawira    2.0
2  East African Coral Coast  UnfishedLow             Slope  Nyawira    4.0
3  East African Coral Coast  UnfishedLow             Slope  Nyawira    3.0
4  East African Coral Coast  UnfishedLow  Lagoon/Back reef  Nyawira    1.5
5  East African Coral Coast  UnfishedLow  Lagoon/Back reef      Tim    1.5
6  East African Coral Coast   Restricted             Crest      Tim    8.0
7  East African Coral Coast  UnfishedLow  Lagoon/Back reef  Nyawira    3.0

   Coralcover  SSTRateofRise     PARmax   Calcite  Dis_oxygen  mean.waveNRJ  \
0          45       0.019214  54.747001  0.001075      4.7495      3.714321
1          45       0.019214  54.747001  0.001075      4.7495      3.714321
2          45       0.019214  54.747001  0.001075      4.7495      3.714321
3          45       0.019214  54.747001  0.001075      4.7495      3.714321
4          48       0.020051  55.395000  0.001747      4.7510      3.270938
5          48       0.020051  55.395000  0.001747      4.7510      3.270938
6          41       0.020051  55.395000  0.001747      4.7510      3.270938
7          49       0.021358  54.935499  0.001744      4.7540      2.857747

   Salinity_mean  andrello_reef_value  andrello_nutrients     mean.npp  \
0      35.167646                    0            8.388602  1139.112671
1      35.167646                    0            8.388602  1139.112671
2      35.167646                    0            8.388602  1139.112671
3      35.167646                    0            8.388602  1139.112671
4      35.102688                    0            6.731860  1126.355957
5      35.102688                    0            6.731860  1126.355957
6      35.102688                    0            6.731860  1126.355957
7      35.106329                    0            2.645199  1150.677856

   TT_market_hrs  TT_pop_hrs     cumDHW  SST_Kurtosis  SST_Median  \
0       1.383333    0.366667  24.133263     -0.803330      27.435
1       1.383333    0.366667  24.133263     -0.803330      27.435
2       1.383333    0.366667  24.133263     -0.803330      27.435
3       1.383333    0.366667  24.133263     -0.803330      27.435
4       1.383333    0.366667  25.342901     -0.793681      27.455
5       1.383333    0.366667  25.342901     -0.793681      27.455
6       1.383333    0.366667  25.342901     -0.793681      27.455
7       1.783333    0.333333  30.265219     -0.795494      27.525

   ChlorA_median  andrello_sediments  Current_vel_mean  Diff_attenuation  \
0       0.465182        53540.007810          0.541991           0.09475
1       0.465182        53540.007810          0.541991           0.09475
2       0.465182        53540.007810          0.541991           0.09475
3       0.465182        53540.007810          0.541991           0.09475
4       0.700521        38477.105470          0.690454           0.11400
5       0.700521        38477.105470          0.690454           0.11400
6       0.592692        38477.105470          0.690454           0.11400
7       0.656533         3224.024414          0.561659           0.10500

    Grav_NP    Grav_NC      PH  SST_bimodality  SST_Skewness  \
0  0.008503  32.387920  8.2175        0.462556     -0.128136
1  0.008503  32.387920  8.2175        0.462556     -0.128136
2  0.008503  32.387920  8.2175        0.462556     -0.128136
3  0.008503  32.387920  8.2175        0.462556     -0.128136
4  0.008503  32.387920  8.2180        0.461297     -0.134548
5  0.008503  32.387920  8.2180        0.461297     -0.134548
6  0.008503  32.387920  8.2180        0.461297     -0.134548
7  0.512126  19.634828  8.2185        0.464874     -0.158601

   ClimateStressModel   Netflow  Indegree  Outdegree  Retention  min_yr  \
0            0.596375  0.144498     98.25      74.75      14.00    2019
1            0.596375  0.144498     98.25      74.75      14.00    2010
2            0.596375  0.144498     98.25      74.75      14.00    2015
3            0.596375  0.144498     98.25      74.75      14.00    2016
4            0.629000  0.011721    112.75      51.50     183.75    2010
5            0.629000  0.011721    112.75      51.50     183.75    2015
6            0.595600  0.011721    112.75      51.50     183.75    2019
7            0.626000 -0.063087     96.50      40.75      35.75    2015

   max_yr  no_replicates
0    2019              1
1    2015              2
2    2015              1
3    2019              2
4    2019              3
5    2015              1
6    2019              1
7    2019              3

In [60]:
# e
# getting other info on the data set using .info()
coral_info = coral_div.info()

# display info
coral_info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 575 entries, 0 to 574
Data columns (total 42 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   PU_ID                575 non-null    int64
 1   PU_Lat               575 non-null    float64
 2   PU_Lon               575 non-null    float64
 3   Number_of_genera     575 non-null    int64
 4   Country              575 non-null    object
 5   Ecoregion            575 non-null    object
 6   Management           575 non-null    object
 7   Habitat              530 non-null    object
 8   Observer             575 non-null    object
 9   Depth                575 non-null    float64
 10  Coralcover           575 non-null    int64
 11  SSTRateofRise        575 non-null    float64
 12  PARmax               575 non-null    float64
 13  Calcite              575 non-null    float64
 14  Dis_oxygen           575 non-null    float64
 15  mean.waveNRJ         575 non-null    float64
 16  Salinity_mean        575 non-null    float64
 17  andrello_reef_value  575 non-null    int64
 18  andrello_nutrients   575 non-null    float64
 19  mean.npp             575 non-null    float64
 20  TT_market_hrs        575 non-null    float64
 21  TT_pop_hrs           575 non-null    float64
 22  cumDHW               575 non-null    float64
 23  SST_Kurtosis         575 non-null    float64
 24  SST_Median           575 non-null    float64
 25  ChlorA_median        575 non-null    float64
 26  andrello_sediments   575 non-null    float64
 27  Current_vel_mean     567 non-null    float64
 28  Diff_attenuation     575 non-null    float64
 29  Grav_NP              575 non-null    float64
 30  Grav_NC              575 non-null    float64
 31  PH                   575 non-null    float64
 32  SST_bimodality       575 non-null    float64
 33  SST_Skewness         575 non-null    float64
 34  ClimateStressModel   575 non-null    float64
 35  Netflow              575 non-null    float64
 36  Indegree             575 non-null    float64
 37  Outdegree            575 non-null    float64
 38  Retention            575 non-null    float64
 39  min_yr               575 non-null    int64
 40  max_yr               575 non-null    int64
 41  no_replicates        575 non-null    int64
dtypes: float64(30), int64(7), object(5)
memory usage: 188.8+ KB

## 4

Some of the columns have data type `int64` and some have data type `float64`. What is the difference between these `int64` and `float64`?

Each data type represents a different kind of numerical data. int64 means numbers are integer values, while numbers stored as float64 may have decimal points or are storing a very large number that is best represented using scientific notation.

## 5

The `Country` column indicates the country of reef location. Explain in your words what is the ouput of `coral_div.Country` and `coral_div.Country.unique()`.

coral_div.Country will output the country of every data point, while coral_div.Country.unique() will output the countries that exist in the data set and will not repeat counitries. Using .unique makes it much easier to do initial investigation of the data set.

## 6

Check the dataset's [metadata file README_md.doc](https://knb.ecoinformatics.org/view/doi:10.5063/F1K35S3H) to find which column has information about who made an observation. How many observers collected this data? HINT: use the `len` Python function. Not sure what `len` does? Use `?`.

In [61]:
# Observer column has data we want to use
# find unique values in observer column
observers = coral_div.Observer.unique()

# store number of observers
num_observers = len(observers)

# print results
print(num_observers, "observers collected this data")

16 observers collected this data

## 7

The `Coralcover` column indicates the percent of hard coral cover in each 6km reef cell surveyed. What data is `coral_div[coral_div['Coralcover'] >= 50]` selecting?

This code is collecting all rows in the coral_div dataset that have over 50% hard coral cover.

## 8

Use code to find if there are there any sites with a 30% coral cover in Tanzania.

In [37]:
# select and display rows with sites that fit the description 
coral_div[(coral_div.Coralcover == 30) & (coral_div.Country == 'Tanzania')]

,PU_ID,PU_Lat,PU_Lon,Number_of_genera,Country,Ecoregion,Management,Habitat,Observer,Depth,Coralcover,SSTRateofRise,PARmax,Calcite,Dis_oxygen,mean.waveNRJ,Salinity_mean,andrello_reef_value,andrello_nutrients,mean.npp,TT_market_hrs,TT_pop_hrs,cumDHW,SST_Kurtosis,SST_Median,ChlorA_median,andrello_sediments,Current_vel_mean,Diff_attenuation,Grav_NP,Grav_NC,PH,SST_bimodality,SST_Skewness,ClimateStressModel,Netflow,Indegree,Outdegree,Retention,min_yr,max_yr,no_replicates
63,693,39.391121,-5.782490,10,Tanzania,East African Coral Coast,Fished,Lagoon/Back reef,Nyawira,5.000000,30,0.015676,52.992001,0.037043,4.7580,5.885771,35.099083,1156,1.507334,958.495666,0.950000,0.550000,30.656667,-0.940944,27.3625,0.225574,26.068680,0.716784,0.0730,0.004944,0.779117,8.215,0.490512,-0.101724,0.655600,-0.309514,77.00,65.25,147.50,2018,2018,2
64,697,39.391121,-5.804983,22,Tanzania,East African Coral Coast,Fished,Lagoon/Back reef,Nyawira,9.166667,30,0.015599,52.992001,0.037043,4.7580,5.285148,35.099083,1156,1.507334,968.100098,0.950000,0.550000,30.021056,-0.942581,27.3600,0.217308,26.068680,0.716784,0.0730,0.004944,0.779117,8.215,0.490769,-0.100365,0.683050,-0.309514,77.00,65.25,147.50,2010,2018,3
341,4294,39.211458,-4.814515,37,Tanzania,East African Coral Coast,Fished,Slope,Nyawira,11.000000,30,0.018789,53.858002,0.002154,4.7170,3.129188,35.120766,0,1.233231,996.539490,1.216667,0.266667,23.736330,-0.779552,27.2450,0.470832,1746.570435,0.653534,0.1210,0.004043,42.349168,8.216,0.451293,-0.048992,0.608900,0.514920,46.00,49.50,82.75,2018,2018,1
342,4299,39.233916,-4.837043,26,Tanzania,East African Coral Coast,Fished,Slope,Nyawira,12.500000,30,0.018789,53.937000,0.001265,4.7195,2.233872,35.125887,0,1.233231,1018.213928,1.550000,0.566667,23.736330,-0.779552,27.2500,0.462739,1746.570435,0.653883,0.1115,0.000879,25.914153,8.216,0.451293,-0.048992,0.601725,0.514920,46.00,49.50,82.75,2018,2018,2
343,4302,39.211458,-4.859570,31,Tanzania,East African Coral Coast,Fished,Slope,Nyawira,7.000000,30,0.018462,54.015999,0.000377,4.7220,0.179306,35.131008,0,1.233231,1071.519775,1.550000,0.566667,23.285391,-0.784669,27.2600,0.469467,1746.570435,0.654233,0.1020,0.000879,25.914153,8.216,0.452402,-0.050477,0.595200,0.514920,46.00,49.50,82.75,2018,2018,1
344,4303,39.301290,-4.859570,23,Tanzania,East African Coral Coast,Fished,Slope,Nyawira,11.000000,30,0.018270,53.937000,0.002104,4.7220,2.600268,35.174747,0,0.611645,965.657349,1.733333,0.800000,24.659219,-0.792062,27.2550,0.339959,858.381897,0.738552,0.0960,0.000426,20.656527,8.216,0.453806,-0.048007,0.602300,0.514920,46.00,49.50,82.75,2018,2018,1
377,4906,39.660616,-4.972195,33,Tanzania,East African Coral Coast,Fished,Lagoon/Back reef,Nyawira,9.000000,30,0.016549,53.943001,0.000076,4.7270,0.034857,34.968960,345,0.063687,980.656921,1.550000,0.700000,27.144278,-0.941926,27.2150,0.212634,23.135084,0.234671,0.0620,0.038530,3.044183,8.213,0.488396,-0.074229,0.671900,0.156359,66.75,41.75,38.00,2013,2013,2
388,5049,39.615700,-5.490011,14,Tanzania,East African Coral Coast,Fished,Lagoon/Back reef,Nyawira,4.000000,30,0.015241,52.493000,0.000155,4.7485,8.124817,34.976822,0,0.104816,755.473267,2.066667,0.583333,26.566285,-0.935094,25.7150,0.158397,9.305736,0.406605,0.0625,0.003125,1.727036,8.213,0.489921,-0.109523,0.657000,-0.328399,93.25,57.25,650.25,2018,2018,1
389,5050,39.638158,-5.490011,18,Tanzania,East African Coral Coast,Fished,Lagoon/Back reef,Nyawira,6.000000,30,0.015241,52.493000,0.000155,4.7485,8.124817,34.976822,0,0.104816,755.473267,2.066667,0.583333,26.566285,-0.935094,25.7100,0.224526,9.305736,0.406605,0.0625,0.003125,1.727036,8.213,0.489921,-0.109523,0.618825,-0.328399,93.25,57.25,650.25,2018,2018,1

## 9

We are interested in looking at the PH of sea water (`PH` column),  mean salinity (PSS) (`Salinity_mean` column), and depth of survey location in meters (`Depth` column). Select this data.

In [59]:
# selecting PH, Salinity_mean, and Depth columns
selected = coral_div[['PH', 'Salinity_mean', 'Depth']]
print("Updated data \n", selected)

Updated data
          PH  Salinity_mean  Depth
0    8.2175      35.167646  11.00
1    8.2175      35.167646   2.00
2    8.2175      35.167646   4.00
3    8.2175      35.167646   3.00
4    8.2180      35.102688   1.50
..      ...            ...    ...
570  8.2400      35.301208  15.50
571  8.2400      35.301208  12.00
572  8.2400      35.301208  12.60
573  8.2400      35.301208  13.00
574  8.2400      35.301208  13.47

[575 rows x 3 columns]

## 10
The `max_yr` column indicates the year of last sampling at a given site. Select the PH, salinity, and depth for sites where sampling ended in 2017.

In [63]:
# store desired columns in new data set
df_2017 = coral_div.loc[coral_div.max_yr == 2017, ['PH', 'Salinity_mean', 'Depth']]

# print results
print("PH, salinity, and depth for sites where sampling ended in 2017: \n", df_2017)

PH, salinity, and depth for sites where sampling ended in 2017:
          PH  Salinity_mean      Depth
67   8.2150      35.100085  16.000000
68   8.2145      35.144927  10.000000
70   8.2150      35.101086  11.000000
71   8.2150      35.101086  11.000000
72   8.2150      35.101086   9.000000
73   8.2150      35.101086   9.000000
84   8.2110      35.278084  12.500000
85   8.2110      35.278084   6.000000
164  8.2220      35.337914   9.875000
167  8.2220      35.337914  12.075000
169  8.2220      35.337914  10.300000
172  8.2220      35.337914  11.000000
174  8.2225      35.287419   7.266667
176  8.2225      35.287419  13.225000
179  8.2225      35.287419  10.550000
182  8.2220      35.331669  12.033333
185  8.2230      35.374460  10.900000
188  8.2230      35.374460  14.725000
191  8.2230      35.247482   9.725000
194  8.2230      35.341358  11.075000
197  8.2230      35.390354  10.600000
346  8.2165      35.114244   7.000000
347  8.2165      35.112398   3.000000
348  8.2165      35.112398   4.000000
349  8.2160      35.117374   5.500000
350  8.2160      35.117374   2.000000
351  8.2160      35.117374  15.000000
352  8.2160      35.117374   5.000000
353  8.2165      35.149462  11.000000
354  8.2160      35.270199   9.000000
395  8.2400      35.276642   9.416667
559  8.2120      35.204185   1.500000
566  8.2400      35.301208  17.000000
569  8.2400      35.301208  13.833333
574  8.2400      35.301208  13.470000

## 11
Use `iloc` to select rows 95 throuhg 100 (including 100) in the 17th, 20th, and 28th columns and assign these values to a new variable called `subset`. HINT: the ouput columns should be `Salinity_mean`, `mean.npp` and `Current_vel_mean`. Are you indexing from 0?

In [64]:
# generating subset based on question, indexing from 0!
subset = coral_div.iloc[94:100, [16, 19, 27]]

# display results
subset

# checking the columns are correct
# subset.columns

    Salinity_mean     mean.npp  Current_vel_mean
94      35.201630  1365.146729          0.878417
95      35.201630  1365.146729          0.878417
96      35.204185  1117.635010          0.839372
97      35.234774  1105.270142          0.685955
98      35.234774  1105.270142          0.685955
99      35.250068  1082.196411               NaN

## 12 

Run `subset.isna()`. Explain what this code does and what the output represents.

In [52]:
# display results
subset.isna()

    Salinity_mean  mean.npp  Current_vel_mean
94          False     False             False
95          False     False             False
96          False     False             False
97          False     False             False
98          False     False             False
99          False     False              True

This code returns a boolean if the value in the cell is Nan (or empty). It is helpful when making sure the data contains all the information we are looking for.

## 13
Run `subset.isna().any()`. Explain what this code does and what the output represents. HINT: It could be helpful to check the [documentation of `pandas.Sries.any`](https://pandas.pydata.org/docs/reference/api/pandas.Series.any.html).

In [55]:
# display results
subset.isna().any()

Salinity_mean       False
mean.npp            False
Current_vel_mean     True
dtype: bool

This code returns if any NaN values exist in the entirety of a column. This can be useful when the data set is large and making sure the data contains all the information we are looking for across each column.

## 14 

Select the rows in `subset` that have NA in the `Current_vel_mean` column. HINT: you can use your answer for 9.

In [65]:
# selecting rows that have NA in Current_vel_mean
curr_vel_mean_na = subset[subset.Current_vel_mean.isna()]

# print results
print("Rows in subset that haev NA in the Current_vel_mean column: \n", 
      curr_vel_mean_na)

Rows in subset that haev NA in the Current_vel_mean column:
     Salinity_mean     mean.npp  Current_vel_mean
99      35.250068  1082.196411               NaN